<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Inventory</title>
  </head>
  <body>
    <div class="header"><h1>Game Inventory</h1></div>
    <div class="games-container">
      <div class="games-header">
        <h2>Title</h2>
        <h2>Developer</h2>
        <h2>Genre</h2>
        <h2>Release date</h2>
      </div>
      <% games.forEach(element => { %>
      <div class="game-container">
        <h3><%= element.game_name %></h3>
        <h3><%= element.developer_name %></h3>
        <h3><%= element.genre_name %></h3>
        <h3><%= element.release_date.toLocaleDateString() %></h3>
      </div>
      <% }) %>
    </div>
  </body>
</html>
