<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Inventory</title>
  </head>
  <body>
    <div class="header"><h1>Game Inventory</h1></div>
    <div class="container">
      <% games.forEach(element => { %>
      <h2><%= element.game_name %></h2>
      <% }) %>
    </div>
  </body>
</html>
