<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Inventory</title>
  </head>
  <body>
    <div class="header"><h1>Game Inventory</h1></div>
    <div class="genres-container">
      <% genres.forEach(element => { %>
      <a href="/genres/<%= element.genre_name.toLowerCase() %>">
        <div
          class="genre-container"
          style="background-image: url('<%= element.genre_name %>.jpg')"
        >
          <h2><%= element.genre_name %></h2>
        </div></a
      >
      <% }) %>
      <a href="/genres/all"
        ><div class="genre-container" style="background-color: #5c5c5c">
          <h2>All games</h2>
        </div></a
      >
    </div>
  </body>
</html>
